.page{
    flex: 1;
}
.site-main{
    padding: 1em;
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
 
    
    @media screen and (min-width: $query__small){
        padding: 1em 2em;
        max-width: 80em;
        
    }
}
