@supports (grid-area: auto) {
    .site {
    display: grid;
    width: 100%;
    grid-template-rows: minmax(1fr, auto);
    grid-template-columns: minmax(1fr, auto);

    grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
   @media screen and (min-width: $query__medium) {
    .site {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas:
            "header header"
            "main sidebar"
            "main sidebar"
            "footer footer";
    }

    .site-header {
       grid-area: header;
    }

    .site-main {
      grid-area: main;
    }

    .widget-area {
        grid-area: sidebar;
        padding: 1em;
    }

    .site-footer {
        grid-area: footer;
    }

  /*  .main-navigation {
        grid-area: nav;
    }*/

    }
    @media screen and (min-width: $query__wide) {
    .site {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: minmax(1fr, auto);
        grid-template-areas:
            "header header header"
            "main main sidebar"
            "footer footer footer";
    }
    }
}
