@supports (grid-area: auto) {
   @media screen and (min-width: $query__medium) {
    .site {
        display: grid;
        grid-template-rows: 1fr minmax(1em, auto);
        grid-template-columns: 1em auto 10em;
        grid-template-areas:
            "header header header"
            "nav main sidebar"
            "nav main sidebar"
            "footer footer footer";
    }
    
    .site-header {
       grid-area: header;
    }
    
    .site-main {
      grid-area: main;  
    }
    
    .widget-area {
        grid-area: sidebar;
    }
    
    .site-footer {
        grid-area: footer;
    }

    .main-navigation {
        grid-area: nav;
    }
    
    .main-navigation ul {
        flex-direction: column;
    }
    
    }
}