button.btn-trigger {
  display: block;
  text-transform: uppercase;
  width: 100%;}

// container class
.main-navigation{

  display: block;
}

.main-navigation.is-active{
//  display: flex;
ul {
  display: block;
}
}
// container class first unordered list
.main-navigation ul {
display: none;
list-style: none;
//display: flex;
//justify-content: space-between;
//width: 90%;
//margin: 0 auto;
//max-width: 1600px;
padding: 0;
//flex-direction: column;
}

//unordered list within an unordered list
.main-navigation ul ul {}

 // each navigation item
.main-navigation li {color: cyan;}

// each navigation item anchor
.main-navigation li a {
  color: pink;
  text-decoration: none;
&:hover,
&:active,
&:focus{text-decoration: underline;}
}
.main-navigation li a.active{
  color: white;
  background-color: black;
}
// unordered list if there is drop down items
.main-navigation li ul {}

// each drop down navigation item
.main-navigation li li {}

// each drap down navigation item anchor
.main-navigation li li a {}

// when button is toggled
.main-navigation .is-active,
.children.is-active,
.sub-menu.is-active {
	display: block;
}
