.site-header{
    display: flex;
    flex-direction: column;
    background-color: $color__background-header;
    
    
    .site-branding{
        
        text-align: center;
    }
    
        .searchform{        
        
        }      
}