.main-navigation {
	display: flex;
        flex-direction: column;
	
	

	ul {
		display: flex;
		align-items: baseline;
                list-style: none;
		margin: 0;
		padding: 0;
                
            }
            
            li {
               &:hover,
	&:focus,
        &:active {
                   //background-color: white;
                   color: red;
                   
               } 
            }
            a {
                text-decoration: none;
                color: yellowgreen;
                &:hover,
	&:focus,
	&:active {
		color: red;
            }
            }
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		
	}
	.main-navigation ul {
		
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		
		width: 50%;
	}

	.nav-next {
		
		text-align: right;
		width: 50%;
	}
}
}